{% load static %}

<div class="header">
	<div class="container">
		<div class="header_top">
			<div class="logo">
				<a href="about.html"><img src="{% static 'host/' %}images/logo.png" alt=""/></a>
			</div>
			<div class="cssmenu">
					<ul>
						<li class="active"><a href="login.html">Войти</a></li>
						<li><a href="#">Регистрация</a></li>
					</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="h_menu4"><!-- start h_menu4 -->
	        <a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li class="active"><a href="#">Главная страница</a></li>
					<li><a href="/about">О нас</a></li>
					<li><a href="#">Сервисы</a></li>
					<li><a href="#">Планы Хостинга</a></li>
					<li><a href="#">Домены</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Блог</a></li>
					<li><a href="#">Поддержка</a></li>
					<li><a href="#">Контакты</a></li>
				 </ul>
				 <script type="{% static 'host/' %}text/javascript" src="{% static 'host/' %}js/nav.js"></script>
	      </div><!-- end h_menu4 -->
     </div>
</div>


