{% load static %}

		<div class="h_menu4"><!-- start h_menu4 -->
	        <a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li class="active"><a href="index.html">Главная страница</a></li>
					<li><a href="about.html">О нас</a></li>
					<li><a href="service.html">Сервисы</a></li>
					<li><a href="plans.html">Планы Хостинга</a></li>
					<li><a href="domain.html">Домены</a></li>
					<li><a href="faq.html">FAQ</a></li>
					<li><a href="blog.html">Блог</a></li>
					<li><a href="support.html">Поддержка</a></li>
					<li><a href="contact.html">Контакты</a></li>
				 </ul>
				 <script type="text/javascript" src="js/nav.js"></script>
	      </div><!-- end h_menu4 -->
     </div>
</div>